
*{
    box-sizing: border-box;
}

body{
    background-color: #d3e4e3;
}

#container {
    display: grid;
    max-width: 500px;
    height: 500px;
    border: 2px solid #d6a110;
    margin-left: 20px;
}

.grid-cell {
    border: 1px solid red;
}
.active {
    background-color: rgb(240, 100, 20); 
  }

#settings {
    display: block;
    width: 80%;
    margin: 30px  auto;
}